// 覆盖主题默认样式,将会被自动应用的全局样式文件，会生成在最终的 CSS 文件结尾，具有比默认样式更高的优先级
.theme-default-content code {
  background-color: #fff5f5;
  color: #FF0000;
}

#valine-vuepress-comment {
  max-width: 750px;
  margin: 0 auto;
}


#valine-vuepress-comment .vheader input[name="link"] {
  display: none;
}

#valine-vuepress-comment .vheader .vinput {
  width: 50%;
}

.txt-right{
  display:none;
}

blockquote {
  border-left: .3rem solid #3eaf7c;
}